/* Popup Styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup.hidden {
  display: none;
}

.popup-content {
  background-color: #7186ab;
  color: white;
  width: 60%;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.popup-header .close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.popup-body {
  margin: 20px 0;
  font-size: 16px;
}

.popup-body .file-types {
  display: flex;
  justify-content: space-between;
  gap: 1px;
}

.popup-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.popup-footer .add-btn {
  background-color: #1488db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.popup-footer .remove-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.popup-footer button:hover {
  opacity: 0.9;
}
