<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/confirm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <div class="inner-warp">
        Xác nhận
        <div class="inner-documents">
            Tệp
            <input type="text">
        </div>
        <div class="printer">
            Máy in: B1-1
        </div>
        <div class="size">
            Cỡ giấy: A4
        </div>
        <div class="num">
            Số trang in: 20
        </div>
        <div class="mode">
            Chế độ in: Hai mặt
        </div>
        <div class="num-copy">
            Số lượng bản sao: 2
        </div>
        <div class="inner-foot">
            <div class="inner-button-back">
                <button>Trở lại</button>
            </div>
            <div class="inner-button-forward">
                <button>Xác nhận</button>
            </div>
        </div>
    </div>
</body>
</html>