<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose printer</title>
    <link rel="stylesheet" href="assets/css/Cprinter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <!-- choose printer box -->
    <div class="inner-wrap">
        <div class="inner-head">
            <div class="inner-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Tìm kiếm">
            </div>
            <div class="inner-sort">
                <label for="choices">Lọc bởi:</label>
                <select name="choices" id="choices">
                    <option value="enable"><strong>Được phép</strong></option>
                    <option value="unable"><strong>Không được phép</strong></option>
                </select>
            </div>
        </div>
        <div class="inner-printer">
            <div class="inner-row">
                <img src="assets/image/B1-1.png" alt="">
                <img src="assets/image/B1-1.png" alt="">
                <img src="assets/image/B1-1.png" alt="">
                <img src="assets/image/B1-1.png" alt="">
            </div>
            <div class="inner-row">
                <img src="assets/image/B1-1.png" alt="">
                <img src="assets/image/B1-1.png" alt="">
                <img src="assets/image/B1-1.png" alt="">
                <img src="assets/image/B1-1.png" alt="">
            </div>
        </div>
        <div class="inner-foot">
            <div class="inner-button-back">
                <button>Trở lại</button>
            </div>
            <div class="inner-page">
                <button>
                    <i class="fa-solid fa-angle-left"></i>
                </button>
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                ...
                <button>9</button>
                <button>
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
        </div>

    </div>
</body>

</html>