<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Properties</title>
    <link rel="stylesheet" href="assets/css/printprop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <div class="inner-wrap">
        <div class="inner-prop">
            Thiết lập định dạng in 
        <div class="page-size">
            Cỡ giấy:
            <select name="size" id="size">
                <option value="A4">A4</option>
                <option value="A3">A3</option>
                <option value="A2">A2</option>
                <option value="A1">A1</option>
                <option value="A0">A0</option>
            </select>
        </div>
        <div class="num-page">
            Số trang in:
            <input type="number" name="numpage" id="numpage">
        </div>
        <div class="print-mode">
            Chế độ in:
            <select name="mode" id="mode">
                <option value="1">Một mặt</option>
                <option value="2">Hai mặt</option>
            </select>
        </div>
        </div>
        <div class="inner-foot">
            <div class="inner-button-back">
                <button>Trở lại</button>
            </div>
            <div class="inner-button-forward">
                <button>Xác nhận</button>
            </div>
        </div>
    </div>
</body>
</html>