<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ngày phát giấy</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/defaultdateStu.css') }}" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body>
    <div class="defaultdate-popup">
        <div class="inner-content">
            <div class="defaultdate-popup__header">
                <div class="header-content">Số trang mặc định</div>
                <button class="closepopup3"><i class="fa-solid fa-circle-xmark"></i></button>
            </div>
            <div class="defaultdate-popup__body">
                <div class="body-subtitle">Số trang mặc định cho sinh viên: </div>
                <div class="body-content" id="defaultdateCount"></div>
            </div>
        </div>
    </div>
</body>
</html>