<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Popup Example</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/popup_default_date.css') }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  </head>
  <body>
    <div id="editPagesPopup2" class="popup3">
      <div class="popup-content3">
        <span class="close-btn3">&times;</span>
        <h3>Chỉnh sửa ngày phát giấy</h3>
        <p>
          ngày phát giấy cho học sinh hàng tháng: ngày
          <span id="currentDate">20</span>
        </p>
        <button
          class="add-btn"
          id="changeDatesBtn"
          onClick="changeDefaultDate()">
          Thay đổi
        </button>
      </div>
    </div>
  </body>
</html>
