<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>In tài liệu</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <script src="tailwind.config.js"></script> -->
</head>

<body>
  <!-- Header -->
  <div class="upload">
    <div class="inner-left">
      <div class="inner-tag box-border">
        <a href="{{ url_for('dash_Stu') }}" class="inner-logo no-underline flex w-2/5 h-full">
          <img src="{{ url_for('static', filename='image/01_logobachkhoasang 1.png') }}" alt="Logo" />
        </a>
        <div class="inner-dash box-border text-xl flex w-3/5 gap-[0.63rem] text-center justify-center items-center">
          <div class="inner-dashboard">Bảng điều khiển</div>
          <button class="inner-angle-left">
            <i class="fa-solid fa-angles-left"></i>
          </button>
        </div>
      </div>
      <div class="inner-left-options">
        <div class="one">
          <a href="{{ url_for('dash_Stu') }}"> Bảng điều khiển </a>
        </div>
        <div class="two">
          <a href="{{ url_for('upload') }}">
            In tài liệu
            <i class="fa-solid fa-angle-right"></i>
          </a>
        </div>
        <div class="three">
          <a href="#">
            Quản lí in
            <i class="fa-solid fa-angle-right"></i>
          </a>
        </div>
        <div class="four">
          <a href="#">
            Tệp
            <i class="fa-solid fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="inner-warp">
      <div class="header">
        <div class="header-logo border-b border-gray-300">
          <a href="{{ url_for('dash_Stu') }}">
            <img src="{{ url_for('static', filename='image/01_logobachkhoasang 1.png') }}" alt="Logo" />
          </a>
        </div>
        <div class="header-logout">
          <div class="log-out">
            <a href="{{ url_for('home') }}">
              Sinh viên
              <i class="fa-solid fa-right-from-bracket"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="inner-box">
        <button class="inner-short">
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="inner-main">
          <div class="inner-process">
            <div class="inner-upload">Tải lên tài liệu</div>
            <div class="choose-printer">Chọn máy in</div>
            <div class="print-prop">Định dạng in</div>
            <div class="confirm">Xác nhận</div>
          </div>

          <div class="inner-file">
            <!--Upload -->
            <div class="first-stage">
              <div class="inner-main-content">Tải lên tài liệu</div>
              <div class="inner-sub-content">Chọn tài liệu tải lên và in</div>
              <div class="main-upload">
                <div class="first" id="first">
                  <div class="main-upload-icon">
                    <i class="fa-regular fa-file"></i>
                  </div>
                  <div class="main-upload-content">Thả tệp ở đây</div>
                  <div class="main-upload-button">
                    <form action="">
                      <!-- Ẩn input file -->
                      <input type="file" name="file" id="file-upload" style="display: none" accept=".pdf,.png,.jpg" />
                      <!-- Nhãn đóng vai trò là nút -->
                      <label for="file-upload" class="upload-label">
                        <i class="fa-solid fa-upload"></i> Tải lên từ máy tính
                      </label>
                    </form>
                  </div>
                </div>
                <div class="filewarpper" id="filewarpper">
                </div>
              </div>

              <div class="add-forward">
                <div class="add_more">
                  <form action="">
                    <input type="file" name="file" id="file-upload" style="display: none" accept=".pdf,.png,.jpg" />
                    <label for="file-upload" class="add">
                      Tải lên
                    </label>
                  </form>
                </div>
                <button class="forward">Tiếp tục</button>
              </div>
            </div>
            <!-- End upload -->
            <!-- Choose printer -->
            <div class="second-stage">
              <div class="second-stage-one">
                <div class="sort-search">
                  <div class="inner-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Tìm kiếm">
                  </div>
                  <div class="inner-sort">
                    <label for="choices">Lọc bởi:</label>
                    <select name="choices" id="choices">
                      <option value="enable"><strong>Được phép</strong></option>
                      <option value="unable"><strong>Không được phép</strong></option>
                    </select>
                  </div>
                </div>
                <div class="inner-printers">
                  <div class="modal" id="modal">
                    <div class="modal-confirm" id="modal-confirm">
                      <div class="modal-confirm__header">
                        <div class="modal-confirm__header-name">
                        </div>
                        <button data-close-confirm-button class="modal-confirm__header-close">
                          <i class="fa-solid fa-circle-xmark"></i>
                        </button>
                      </div>
                      <div class="modal-confirm__body">
                        <div class="modal-confirm__body-desc">
                          Xác nhận sử dụng máy in này
                        </div>
                        <div class="modal-confirm__body-buttons">
                          <button class="yes">Có</button>
                          <button data-close-confirm-button class="no">Không</button>
                        </div>
                      </div>
                    </div>
                    <div class="modal-header">
                      <div class="modal-header__name">
                      </div>
                      <button data-close-button class="modal-header-close">
                        <i class="fa-solid fa-circle-xmark"></i>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-body__content">
                        <div class="modal-body__content-img">
                          <img src="../static//image/B1-1.png" alt="">
                        </div>
                        <div class="modal-body__content-desc">
  
                        </div>
                      </div>
                      <div class="modal-body__content-button">
                        <button data-modal-confirm-target="#modalConfirm">Xác nhận</button>
                      </div>
                    </div>
                  </div>
                  <div class="inner-row">
                    <button data-modal-target="#modal" data-id="B1-1"><img src="../static/image/B1-1.png" alt=""></button>
                    <button data-modal-target="#modal" data-id="B1-2"><img src="../static/image/B1-2.png" alt=""></button>
                    <button data-modal-target="#modal" data-id="B4-1"><img src="../static/image/B4-1.png" alt=""></button>
                    <button data-modal-target="#modal" data-id="B6-1"><img src="../static/image/B6-1.png" alt=""></button>
                  </div>
                  <div class="inner-row">
                    <button data-modal-target="#modal" data-id="B1-1"><img src="../static/image/B1-1.png" alt=""></button>
                    <button data-modal-target="#modal" data-id="B1-2"><img src="../static/image/B1-2.png" alt=""></button>
                    <button data-modal-target="#modal" data-id="B4-1"><img src="../static/image/B4-1.png" alt=""></button>
                    <button data-modal-target="#modal" data-id="B6-1"><img src="../static/image/B6-1.png" alt=""></button>
                  </div>
                </div>
                <div class="inner-foot">
                  <div class="inner-button-back">
                    <button>Trở lại</button>
                  </div>
                  <div class="inner-page">
                    <button>
                      <i class="fa-solid fa-angle-left"></i>
                    </button>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    ...
                    <button>9</button>
                    <button>
                      <i class="fa-solid fa-angle-right"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="second-stage-two">
                <div class="second-stage-two__header">
                    Máy in B1-1
                </div>
                <div class="second-stage-two__content">
                  <div class="second-stage-two__content-desc">
                    <div class="second-stage-two__content-desc-img">
                      <img id="printer-image" src="../static/image/B1-1.png" alt="">
                    </div>
                    <div class="second-stage-two__content-desc-detail">
                      <p id="printer-id">Mã máy in: B1-1</p>
                      <p id="printer-brand">Tên thương hiệu: Epson</p>
                      <p id="printer-model">Kiểu máy: Epson EcoTank ET-3760</p>
                      <p id="printer-date">Hoạt động vào ngày: 21/10/2024</p>
                      <p id="printer-pages">Số trang còn lại: 238 (15:35 27/09/2024)</p>
                      <p id="printer-description">Mô tả: Tốc độ in 24 trang/phút. Máy in đa chức năng (in phun, in laser). Sức chứa giấy 500 tờ.</p>
                      <p id="printer-location">Địa điểm: Cơ sở 1, tòa B1, phòng B1-101</p>
                    </div>
                  </div>
                  <div class="second-stage-two__content-foot">
                    <button class="change">Đổi máy in</button>
                    <button class="confirm">Xác nhận</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End choose printer -->
            <!-- print properties -->
            <div class="third-stage">
              <div class="third-stage__setting">
                <h2>Thiết lập định dạng in</h2>
                <div class="third-stage__setting-prop">
                  <div class="third-stage__setting-prop-size">
                    <label for="size">Cỡ giấy:</label>
                    <select name="size" id="size">
                      <option value="A0"><strong>A0</strong></option>
                      <option value="A1"><strong>A1</strong></option>
                      <option value="A2"><strong>A2</strong></option>
                      <option value="A3"><strong>A3</strong></option>
                      <option value="A4" selected><strong>A4</strong></option>
                    </select>
                  </div>
                  <div class="third-stage__setting-prop-num">
                    Số trang in: 
                  <input type="text">
                  </div>
                  <div class="third-stage__setting-prop-mode">
                    <label for="mode">Chế độ in:</label>
                    <select name="mode" id="mode">
                      <option value="twoside" selected><strong>Hai mặt</strong></option>
                      <option value="onesize"><strong>Một mặt</strong></option>
                    </select>
                  </div>
                  <div class="third-stage__setting-prop-copy">
                    Số lượng bản sao: 
                    <input type="text">
                  </div>
                </div>
              </div>
              <div class="third-stage__foot">
                <button class="third-back">Trở lại</button>
                <button class="third-next">Xác nhận</button>
              </div>
            </div>
            <!-- End print properties -->
             <!-- Confirmation -->
              <div class="fourth-stage">
                <div class="fourth-stage__content">
                  <h2>Xác nhận</h2>
                <div class="fourth-stage__uploaded-file">
                  Tệp:
                  <div class="fourth-stage__uploaded-file-box">

                  </div>
                </div>
                <div class="fourth-stage__uploaded-file-prop">
                  <!-- <p>Máy in: B1-1</p>
                  <p>Cỡ giấy: A4</p>
                  <p>Số trang in: 20</p>
                  <p>Chế độ in: Hai mặt</p>
                  <p>Số lượng bản sao: 2</p> -->
                </div>
                </div>
                <div class="fourth-stage__foot">
                  <button class="fourth-back">Trở lại</button>
                  <button class="fourth-next">Xác nhận</button>
                </div>
              </div>
              <!-- End confirmation -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="overlay">

  </div>
  <div id="overlay-confirm"></div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/file.js') }}"></script>
</body>

</html>