<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch sử in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_reports.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="tailwind.config.js"></script>
</head>

<body>
    <div class="inner-view-main">
        <div class="inner-view-main__window fixed z-[9999] left-[30%] top-[20%] h-2/4 w-2/4 hidden">
            <div class="inner-view-main__window--header flex justify-between py-2 px-2 bg-[#1488DB] items-center">
                <div class="inner-name text-[#FFFFFF] text-2xl font-medium"></div>
                <button class="inner-x text-[#E44061] text-3xl bg-transparent"><i
                        class="fa-solid fa-circle-xmark"></i></button>
            </div>
            <div class="inner-view-main__window--header--content flex flex-col py-5 px-16 bg-[#AEACAC] gap-[1.88rem]">
            </div>
        </div>
        <div class="inner-containner z-[1]">
            <div class="inner-left absolute z-10 bg-[#FFFFFF] h-full w-1/5 block">
                <div
                    class="inner-tag border-b border-gray-300 flex p-3 h-28 w-full text-base font-bold mb-9 justify-center gap-[0.63rem] items-center">
                    <a href="{{ url_for('dash_SPSO') }}" class="inner-logo flex w-2/5 h-full">
                        <img src="{{ url_for('static', filename='image/01_logobachkhoasang 1.png') }}" alt=""
                            class="h-full w-full">
                    </a>
                    <div class="inner-dash text-xl flex w-3/5 gap-[0.63rem] text-center justify-center items-center">
                        <div class="inner-dashboard">
                            Bảng điều khiển
                        </div>
                        <button class="inner-angle-left text-sm text-[#9197B3] bg-transparent p-0">
                            <i class="fa-solid fa-angles-left"></i>
                        </button>
                    </div>
                </div>
                <div class="inner-left-options flex flex-col gap-[2.31rem] text-left justify-center">
                    <div class="one flex justify-center">
                        <a href="{{ url_for('dash_SPSO') }}">
                            Bảng điều khiển
                        </a>
                    </div>
                    <div class="two flex justify-center">
                        <a href="{{ url_for('view_reports') }}">
                            Lịch sử in
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </div>
                    <div class="three flex justify-center">
                        <a href="#">
                            Quản lí máy in
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </div>
                    <div class="four flex justify-center">
                        <a href="{{ url_for('file_page_setting') }}">
                            Quản lí tệp
                            <i class="fa-solid fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header flex justify-between pr-3 h-20 bg-[#1488DB]">
                <div class="header-logo border-b border-gray-300 flex">
                    <a href="{{ url_for('dash_SPSO') }}" class="p-0 m-0 bg-[#FFFFFF] flex items-center">
                        <img src="{{ url_for('static', filename='image/01_logobachkhoasang 1.png') }}" alt=""
                            class="w-24 h-20">
                    </a>
                </div>
                <div class="header-logout flex items-center">
                    <a href="{{ url_for('home') }}" class="text-2xl font-bold text-[#FFFFFF]">
                        SPSO
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </a>
                </div>
            </div>
            <div class="inner-body flex justify-between w-full gap-[1.88rem]">
                <button class="inner-short w-11 h-16 text-[3.13rem] leading-none bg-transparent ml-3 mt-3.5">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="inner-right block justify-between w-4/5 pt-12 pr-2 pb-8 pl-2">
                    <div class="inner-right__header flex justify-between py-2 px-2 h-28 items-center">
                        <div class="inner-right__header__content font-bold text-[1.38rem] leading-7">
                            Tất cả học sinh
                        </div>
                        <div class="inner-right__header__operate flex py-2 px-2 gap-[0.63rem]">
                            <div class="inner-search ">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input type="text" placeholder="Tìm">
                            </div>
                            <div class="inner-sort ">
                                <label for="choices">Lọc bởi:</label>
                                <select name="choices" id="choices" class="bg-transparent font-medium">
                                    <option value="enable">Mới nhất</option>
                                    <option value="unable">Cũ nhất</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="inner-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Tên học sinh</th>
                                    <th>Mã máy in</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Số trang in</th>
                                    <th>Ngày in</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="inner-page flex justify-right pr-5 gap-3">
                        <!-- Nút mũi tên trái chỉ hiển thị nếu current_page > 1 -->
                        {% if current_page > 1 %}
                        <a href="{{ url_for('view_reports', page=current_page-1) }}" class="pagination-button">
                            <button><i class="fa-solid fa-angle-left"></i></button>
                        </a>
                        {% else %}
                        <a class="pagination-button disabled">
                            <button><i class="fa-solid fa-angle-left"></i></button>
                        </a>
                        {% endif %}

                        <!-- Các nút số trang -->
                        {% for page_num in page_range %}
                        <a href="{{ url_for('view_reports', page=page_num) }}"
                            class="pagination-button {{ 'active' if current_page == page_num else '' }}">
                            <button>
                                {{ page_num }}
                            </button>
                        </a>
                        {% endfor %}

                        <!-- Nút "..." nếu có nhiều trang hơn -->
                        {% if total_pages > 4 and current_page < total_pages - 2 %} <span><button>...</button></span>
                            {% endif %}

                            <!-- Nút số trang cuối cùng nếu current_page < total_pages - 1 -->
                            {% if current_page < total_pages - 1 %} <a
                                href="{{ url_for('view_reports', page=total_pages) }}" class="pagination-button">
                                <button>
                                    {{ total_pages }}
                                </button>
                                </a>
                                {% endif %}

                                <!-- Nút mũi tên phải chỉ hiển thị nếu current_page < total_pages -->
                                {% if current_page < total_pages %} <a
                                    href="{{ url_for('view_reports', page=current_page+1) }}" class="pagination-button">
                                    <button><i class="fa-solid fa-angle-right"></i></button>
                                    </a>
                                    {% else %}
                                    <a  class="pagination-button disabled">
                                        <button><i class="fa-solid fa-angle-right"></i></button>
                                    </a>
                                    {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/viewrp.js') }}"></script>
</body>

</html>